:root {
    --sections-color: purple;
}

body {
    background-color: thistle;
}

header {
    background-color: mistyrose;
    padding: 20px;
    font-family: monospace;
    color: var(--sections-color);
    display: flex;
}

h1 {
    font-size: 40px;
    padding: 5px;
}

nav {
    font-size: 23px;
    margin: 13.5px;
    float: right;
    justify-content: flex-end;
}

