:root {
    --sections-color: purple;
}

body {
    background-color: thistle;
}

header {
    background-color: mistyrose;
    padding: 15px;
    font-family: monospace;
    color: var(--sections-color);
    display: flex;
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 40px;
    padding: 5px;
}

nav {
    font-size: 23px;
    margin: 13.5px;
    padding-left: 90px;
}

nav ul a:hover {
    color: mistyrose;
    background-color: var(--sections-color);
}

main {
    margin: auto;
    padding: 120px;
    height: 300px;
    width: 50%;
}

h2 {
    font-size: 25px;
    color: var(--sections-color);
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.Me {
    border-bottom: 3px solid var(--sections-color);
    padding: 40px;
    background-color:mistyrose;
    margin: 10px;
}

.Me img {
    max-width: 150px;
    float: left;
    padding: 10px;
}

.Me p {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.sections {
    border-bottom: 3px solid var(--sections-color);
    padding: 300px;
    margin: 10px;
    background-color: mistyrose;
    display: flex;
}

.pic1 {
    max-width: 300px;
    border-color: var(--sections-color);
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 180px;
    right: 200px;
}

.pic2 {
    max-width: 300px;
    border-color: var(--sections-color);
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    right: 505px;
    top: 200px;
}

.pic3 {
    max-width: 300px;
    border-color: var(--sections-color);
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    right: 800px;
    top: 400px;
}

.c1 {
    z-index: 1;
    font-size: 20px;
    position: absolute;
    left: 47%;
    top: 85%;
    color: var(--sections-color);
}

.c2 {
    z-index: 1;
    font-size: 20px;
    position: absolute;
    left: 47%;
    top: 110%;
    color: var(--sections-color);
}

.c3 {
    z-index: 1;
    font-size: 20px;
    position: absolute;
    left: 47%;
    top: 130%;
    color: var(--sections-color);
}

.sections h2 {
    position: relative;
    bottom: 280px;
    z-index: 2;
}

.contact {
    padding: 20px;
    background-color: mistyrose;
    margin: 10px;
}

.contact p {
    text-align: center;
    margin: 5px;
}
