:root {
    --sections-color: purple;
}

body {
    background-color: thistle;
}

header {
    background-color: mistyrose;
    padding: 20px;
    font-family: monospace;
    color: var(--sections-color);
    display: flex;
}

h1 {
    font-size: 40px;
    padding: 5px;
}

nav {
    font-size: 23px;
    margin: 13.5px;
    justify-content: flex-start;
}

nav ul a:hover {
    color: mistyrose;
    background-color: var(--sections-color);
}

main {
    margin: auto;
    padding: 50px;
    height: 300px;
    width: 50%;
}

.Me h2, .contact h2 {
    font-size: 25px;
    color: var(--sections-color);
    align-content: center;
    position: relative;
    left: 350px;
}

.Me {
    border-bottom: 3px solid var(--sections-color);
    padding: 40px;
    background-color:mistyrose;
}

.Me img {
    max-width: 150px;
    float: left;
    padding: 10px;
}

.Me p {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.sections {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid var(--sections-color);
    padding: 300px;
    margin: 10px;
    background-color: mistyrose;
}

.sections h2 {
    font-size: 25px;
    color: var(--sections-color);
    position: relative;
    bottom: 280px;
    left: 670px;
}

.pic1 {
    max-width: 300px;
    border-color: var(--sections-color);
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
}

.pic2 {
    max-width: 300px;
    border-color: var(--sections-color);
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
}

.pic3 {
    max-width: 300px;
    border-color: var(--sections-color);
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
}

h3{
    position: relative;
    left: 50%;
    padding: 30px;
    z-index: 0;
}
.contact {
    padding: 20px;
    background-color: mistyrose;
    margin: 10px;
}

.contact p {
    text-align: center;
    margin: 5px;
}
footer {
    font-size: 15px;
    font-family: serif;
    background-color: thistle;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
}
